$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

#thumbs {
	float: right;
}

.hero-unit h1 {
	font-size: 80px;
	display: inline;	
}

.hero-unit p {	
	display: block;
}

.hero-unit {
	background-image: url('../images/background.jpg');
	text-align: center;
	color: #ffffff;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
	margin-bottom: 0px;
	max-width: 100%;
}

#instrucoes {
	background-color: #EBEBE0;
}

.footer, #chart {
	text-align: center;
}

.navbar {
	margin-bottom: 0px;
}

#questionario25, #questionario45, #chart {
	background-color:#FFF5E2;
	max-width: 100%;
}
